body {
  margin: 0;
  background-color: #525659;
  font-family: Segoe UI, Tahoma, sans-serif;
}

.cv input,
.cv button {
  font: inherit;
}

.cv header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.cv header h1 {
  font-size: inherit;
  margin: 0;
}

.cv__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

.cv__container__load {
  margin-top: 1em;
  color: white;
}

.cv__container__document {
  width: 100%;
  margin: 1em 0;
}

.cv__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv__container__document .react-pdf__Page {
  margin: 1em 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.cv__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}
